.head {
  background:red;
  height:125px;
  color:white;
  text-align:center;
  padding:40px;
}
.foot {
  background:red;
  height:75px;
  color:white;
  text-align:center;
  padding:20px;
}
.pl {
  float:left;
  border:2px solid black;
  margin:20px;
}
